<?xml version="1.0"?>
<clickhouse>
    <!-- Путь, где ClickHouse будет хранить данные -->
    <path>/var/lib/clickhouse/</path>
    <metadata_path>/var/lib/clickhouse/metadata/</metadata_path>
    <user_files_path>/var/lib/clickhouse/user_files/</user_files_path>
    <format_schema_path>/var/lib/clickhouse/format_schemas/</format_schema_path>
    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>

    <!-- Настройки логирования -->
    <logger>
        <level>trace</level> <!-- Уровни логов: trace, debug, info, warning, error -->
        <log>/var/log/clickhouse-server/clickhouse-server.log</log> <!-- Путь к лог-файлам -->
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size> <!-- Максимальный размер лог-файлов -->
        <count>10</count> <!-- Количество лог-файлов для ротации -->
    </logger>

    <!-- Настройки сети -->
    <http_port>8123</http_port> <!-- Порт для HTTP интерфейса -->
    <tcp_port>9000</tcp_port> <!-- Порт для TCP интерфейса -->
    <interserver_http_port>9009</interserver_http_port> <!-- Порт для внутреннего взаимодействия -->

    <!-- Настройки безопасности -->
    <listen_host>::</listen_host> <!-- Слушать все интерфейсы -->
    <max_connections>1024</max_connections> <!-- Максимальное количество подключений -->
    <mark_cache_size>5368709120</mark_cache_size> <!-- Хранилище кэшированных данных для запросов -->

    <!-- Настройки пользователей и прав -->
    <users>
    <default>
        <password></password> <!-- Убедись, что пароль пустой для superuser -->
        <profile>default</profile>
        <quota>default</quota>
        <networks>
            <ip>::/0</ip>
        </networks>
        <grants>
            <grant>CREATE USER</grant>
        </grants>
    </default>
    <user name="user">
        <password>password</password>
        <profile>default</profile>
        <quota>default</quota>
        <networks>
            <ip>::/0</ip>
        </networks>
    </user>
</users>

    <!-- Настройки профилей ресурсов -->
    <profiles>
        <default>
            <max_memory_usage>10000000000</max_memory_usage>
            <use_uncompressed_cache>1</use_uncompressed_cache>
        </default>
    </profiles>

    <!-- Настройки квот -->
    <quotas>
        <default>
            <intervals>
                <interval>
                    <duration>3600</duration> <!-- Время интервала в секундах (1 час) -->
                    <queries>1000</queries> <!-- Максимальное количество запросов в интервале -->
                </interval>
            </intervals>
        </default>
    </quotas>
</clickhouse>
